$--details-theme-color: #c99e11;
$--main-theme-color: #1e434c;
$--light-main-theme-color: #275864;
$--second-main-theme-color: #303030;
$--color-dark: #4d4d4d;
$--color-light: #a5a4a4;

body {
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	button {
		background-color: #fff;
		border: unset;
		cursor: pointer;
	}
}

header {
	background-color: $--main-theme-color;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.add__banner {
	width: 100%;
	background-color: $--main-theme-color;
	padding: 20px 10px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
	.add__text {
		font-size: 24px;
		color: #fff;
	}
}

.products {
	margin: 0 10px;
	h2 {
		font-size: 20px;
		margin-bottom: 15px;
		font-weight: 700;
	}
	.products__lider {
		margin-bottom: 20px;
	}
}

footer {
	background-color: $--main-theme-color;
	color: #fff;
	.container {
		.footer__info {
			display: flex;
			padding-bottom: 20px;
			border-bottom: 1px solid #18343b;
			li {
				padding: 5px 0;
			}
			a {
				color: #fff;
			}
		}
		p {
			padding: 10px 0;
		}
	}
}
